@use "sass:color";

window.Bar {
  border: none;
  box-shadow: none;
  background-color: unquote("alpha(@theme_bg_color, 0.4)");
  color: unquote("@theme_fg_color");
  font-size: 1.1em;
  font-weight: bold;
  min-height: 32px;
  padding: 4px;

  label {
    margin: 0 8px;
  }

  .Workspaces {
    button {
      all: unset;
      background-color: transparent;

      &:hover label {
        background-color: color.adjust($fg, $alpha: -0.84);
        border-color: color.adjust($accent, $alpha: -0.8);
      }

      &:active label {
        background-color: color.adjust($fg, $alpha: -0.8);
      }
    }

    label {
      transition: 200ms;
      padding: 0 8px;
      margin: 2px;
      border-radius: $radius;
      border: 1pt solid transparent;
    }

    .focused label {
      color: $accent;
      border-color: $accent;
    }
  }

  .SysTray {
    margin-right: 8px;

    button {
      padding: 0 4px;
    }
  }

  .FocusedClient {
    color: $accent;
  }

  .Media .Cover {
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }

  .Battery label {
    padding-left: 0;
    margin-left: 0;
  }
}
