@use "../style/variables" as *;
@use "../style/functions" as *;

window.Bar {
  border: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);

  &.secondary-instance {
    border-top: 1px solid alpha($warning-color, 0.8);
  }

  // ========================
  // Workspaces
  // ========================

  .Workspaces {
    background-color: rgba(255, 255, 255, 0.08);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;

    button {
      font-family: monospace;
      border: 2px solid transparent;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;

      &:hover {
        border-bottom-color: $accent-color;
        border-left-color: $accent-color;
        transform: scale(1.05);
      }

      &.focused {
        color: $accent-color;
        background-color: alpha($accent-color, 0.15);
        border-bottom-color: $accent-color;
        border-left-color: $accent-color;
      }

      &.urgent {
        border-right-color: $error-color;
        border-top-color: $error-color;
      }
    }
  }

  // ========================
  // System Stats
  // ========================

  .SystemStats {
    margin: 0 8px;

    label {
      font-weight: bold;
      min-width: 32px;
      text-align: end;
      transition: color 200ms;

      &.level-low {
        color: #22c55e;
      }

      &.level-medium {
        color: #eab308;
      }

      &.level-high {
        color: #f97316;
      }

      &.level-critical {
        color: #ef4444;
      }
    }
  }
}
