@use "sass:string";

@function lighter($color) {
  @return string.unquote("lighter(#{$color})");
}

@function darker($color) {
  @return string.unquote("darker(#{$color})");
}

@function shade($color, $amount) {
  @return string.unquote("shade(#{$color},#{$amount})");
}

@function alpha($color, $amount) {
  @return string.unquote("alpha(#{$color},#{$amount})");
}

@function mix($color1, $color2, $amount) {
  @return string.unquote("mix(#{$color1},#{$color2},#{$amount})");
}

@function crossfade($percentage, $image1, $image2) {
  @return string.unquote("cross-fade(#{$percentage},#{$image1},#{$image2})");
}

@function alternatives($images...) {
  @return string.unquote("image(" + join($images, ",") + ")");
}
