$bg: #{"@window_bg_color"};
$bg-alt: #{"@card_bg_color"};
$fg: #{"@window_fg_color"};
$destructive-color: #{"@destructive_color"};
$warning-color: #{"@brown_2"};
$accent-color: #{"@accent_bg_color"};
$error-color: #{"@error_color"};
$success-color: #{"@success_color"};
