$blur-levels: (
  none: 0rem,
  sm: 0.25rem,
  md: 0.5rem,
  lg: 1rem,
  xl: 1.5rem,
  2xl: 2.5rem,
  3xl: 4rem,
);

@each $name, $value in $blur-levels {
  .blur-#{$name} {
    filter: blur(#{$value});
  }
}
