$border-widths: (
  0: 0,
  1: 1px,
  2: 2px,
  4: 4px,
  8: 8px,
);

@each $key, $value in $border-widths {
  .border-#{$key} {
    border-width: $value;
  }
  .border-t-#{$key} {
    border-top-width: $value;
  }
  .border-r-#{$key} {
    border-right-width: $value;
  }
  .border-b-#{$key} {
    border-bottom-width: $value;
  }
  .border-l-#{$key} {
    border-left-width: $value;
  }
}
