@use "../variables";

.bg {
  background-color: variables.$bg;
}

.bg-alt {
  background-color: variables.$bg-alt;
}

.bg-fg {
  background-color: variables.$fg;
}

.bg-accent {
  background-color: variables.$accent-color;
}

.bg-error {
  background-color: variables.$error-color;
}

.bg-success {
  background-color: variables.$success-color;
}

.bg-warning {
  background-color: variables.$warning-color;
}

.bg-destructive {
  background-color: variables.$destructive-color;
}

.text {
  color: variables.$fg;
}

.text-accent {
  color: variables.$accent-color;
}

.text-error {
  color: variables.$error-color;
}

.text-success {
  color: variables.$success-color;
}

.text-warning {
  color: variables.$warning-color;
}

.text-destructive {
  color: variables.$destructive-color;
}

.border {
  border-color: variables.$fg;
}

.border-bg {
  border-color: variables.$bg;
}

.border-alt {
  border-color: variables.$bg-alt;
}

.border-accent {
  border-color: variables.$accent-color;
}

.border-error {
  border-color: variables.$error-color;
}

.border-success {
  border-color: variables.$success-color;
}

.border-warning {
  border-color: variables.$warning-color;
}

.border-destructive {
  border-color: variables.$destructive-color;
}
