$durations: (
  75: 75ms,
  100: 100ms,
  150: 150ms,
  200: 200ms,
  300: 300ms,
  500: 500ms,
  700: 700ms,
  1000: 1000ms,
);

$delays: (
  75: 75ms,
  100: 100ms,
  150: 150ms,
  200: 200ms,
  300: 300ms,
  500: 500ms,
);

$easings: (
  linear: linear,
  in: cubic-bezier(0.4, 0, 1, 1),
  out: cubic-bezier(0, 0, 0.2, 1),
  in-out: cubic-bezier(0.4, 0, 0.2, 1),
);

$transitions: (
  none: none,
  all: all,
  colors: color,
  opacity: opacity,
  shadow: box-shadow,
  transform: transform,
);

@each $key, $prop in $transitions {
  .transition-#{$key} {
    transition-property: #{$prop};
  }
}

@each $key, $value in $durations {
  .duration-#{$key} {
    transition-duration: #{$value};
  }
}

@each $key, $value in $delays {
  .delay-#{$key} {
    transition-delay: #{$value};
  }
}

@each $key, $curve in $easings {
  .ease-#{$key} {
    transition-timing-function: #{$curve};
  }
}

.transition {
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
